---
  - name: TARSNAP | Dependencies
    apt: pkg="{{item}}" state="present"
    with_items:
      - build-essential 
      - ext2fs-dev 
      - zlib1g-dev 
      - libssl-dev
    become: yes
    tags:
      - tarsnap

  - name: TARSNAP | Download source code
    get_url: url="https://www.tarsnap.com/download/tarsnap-autoconf-{{tarsnap_version | default('1.0.37')}}.tgz" dest="/tmp/tarsnap-autoconf-{{tarsnap_version | default('1.0.37')}}.tgz"
    tags:
      - tarsnap

  - name: TARSNAP | Unpack distribution
    shell: "tar xfz tarsnap-autoconf-{{tarsnap_version | default('1.0.37')}}.tgz"
    args:
      chdir: /tmp
#    unarchive: src="/tmp/tarsnap-autoconf-{{tarsnap_version | default('1.0.37')}}.tgz" dest=/tmp remote_src=yes
    tags:
      - tarsnap

  - name: TARSNAP | build / configure
    shell: ./configure
    args:
      chdir: "/tmp/tarsnap-autoconf-{{tarsnap_version | default('1.0.37')}}"
    tags:
      - tarsnap

  - name: TARSNAP | make install
    shell: make install clean                                                                           
    args:
      chdir: "/tmp/tarsnap-autoconf-{{tarsnap_version | default('1.0.37')}}"
    become: yes
    tags:
      - tarsnap

  - name: TARSNAP | Check config present
    command: test -x /usr/local/etc/tarsnap.conf
    ignore_errors: yes
    register: tarsnap_conf_present
    tags: 
        - tarsnap


  - name: TARSNAP | Populate initial config, if not
    shell: cp /usr/local/etc/tarsnap.conf.sample /usr/local/etc/tarsnap.conf
    when: tarsnap_conf_present | failed
    become: yes
    tags:
        - tarsnap


